table,th,td
{
  border:1px solid grey;
  opacity: 100%;
  text-align: center;
  padding: 0.5%;
}
body{
  text-align:center;
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-left: 18%;
  padding-top: 10%;
}
